<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autos</title>
</head>
<!-- 127.0.0.1:8000/autos/ -->
<!-- <a href="{# url 'auto:index' #}">Ir al listado de autos</a> -->
<body>
    Cantidad de autos: {{autos|length}}
    <ol>
        {% for auto in autos %}
            <li>
                <p>Marca: {{auto.marca}}</p>
                <p>Modelo: {{auto.modelo}}</p>
            </li>
        {% endfor %}
    </ol>
</body>
</html>
